<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-gradient fixed" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">R-WEBDESIGN</a>
    <a  mdbWavesEffect routerLink="/home"><img style="margin-right:-300px" width="10%" src="../../assets/logowebdesign.png" alt=""><span class="sr-only">(current)</span></a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto ">

      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">ACCUEIL<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/who" mdbWavesEffect>A PROPOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/formule" mdbWavesEffect>FORMULES</a>
      </li>



      <!-- Dropdown -->


    </ul>


    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item">
        <a class="nav-link">
          <a href="https://www.linkedin.com/in/fabienruault"><mdb-icon class="white"  fab icon="linkedin"></mdb-icon></a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li>



      <li class="nav-item">
        <a class="nav-link">
          <div class  ="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <div class="text-center">

                <h4><a routerLink="/login">Se connecter avec</a> </h4>
                <h4><a routerLink="/register">Créer un compte </a></h4>
                <h4><a routerLink="/dashboard">Arriere boutique </a></h4>

                <a (click)="logOut()"   class="btn btn-info">DECONEXION</a>






              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img src="{{photoURL}}" class="rounded-circle z-depth-0"
               alt="avatar image" height="35">
        </a>
      </li>
    </ul>
  </links>


</mdb-navbar>



