
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}



.top-nav-collapse {
    background-color: #4285F4;
}


.social {
  margin-left: 1080px!important;
}

button.navbar-toggler{
background-color:red!important;
}

