<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Faites faire vos site et application sur mesures ! </strong></h2>
      <p class="mx-5 mb-5">L'equipe met un point d'honneur quand a fournir un travail d'une qualité irréprochable, une maintenance 7 jours sur 7 et ce, au meilleurs tarifs
      </p>
      <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
        <mdb-icon icon="clone" class="left"></mdb-icon>Voir Projets
      </a>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-md-4">

      <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="yellow-text"><i class="fa fa-pie-chart"></i>STARTER PACK</h5>
            <h3 class="card-title pt-2"><strong>Site vitrine/ Blog</strong></h3>
            <p>Idéal pour un particulier / TPE </p>
            <a mdbBtn color="purple" class="waves-light" mdbWavesEffect><i class="fa fa-clone left hoverable"></i>Demander un devis </a>
          </div>
        </div>
</div>
        <ul class="list-group">
  <li class="list-group-item">  Site 1 page avec 5 sections</li>
  <li class="list-group-item">Design fixe</li>
  <li class="list-group-item">Intégration de contenu</li>
  <li class="list-group-item">Reponsive design</li>
  <li class="list-group-item">Carte Google Maps</li>
  <li class="list-group-item">SEO Basique</li>
  <li class="list-group-item">Nom de domaine</li>
  <li class="list-group-item">Hebergement</li>
  <li class="list-group-item">Sauvegarde des données</li>
  <li class="list-group-item">Assistance / Maintenance / Sécurité </ul> </div>

  <div class="col-md-4">
  <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 class="purple-text"><i class="fa fa-pie-chart"></i>BOOSTER PACK</h5>
        <h3 class="card-title pt-2"><strong>Site multi-sections</strong></h3>
        <p>Idéal pour les PMI/PME ou Association</p>
        <a mdbBtn color="purple" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i>Demander un devis</a>
      </div>
    </div>
</div>
  <ul class="list-group"><li class="list-group-item">Site multipage (jusqu'à 10)</li>
      <li class="list-group-item">Mise a jour</li>
      <li class="list-group-item">Design sur mesure</li>
      <li class="list-group-item">Intégration de contenu
      <li class="list-group-item">Carte Google Maps</li>
      <li class="list-group-item">SEO optimisé</li>
      <li class="list-group-item">Réseau sociaux</li>
      <li class="list-group-item">  <li class="list-group-item">Statistique via Google Analytics</li>
      <li class="list-group-item">  <li class="list-group-item">Nom de domaine</li>
      <li class="list-group-item">  <li class="list-group-item">Hebergement</li>
      <li class="list-group-item">  <li class="list-group-item">Sauvegarde des données</li>
      <li class="list-group-item">  <li class="list-group-item">Assistance / Maintenance / Sécurité</li>
      <li class="list-group-item">  <li class="list-group-item">Bouton de partage réseaux sociaux</li>
      <li class="list-group-item">  <li class="list-group-item">Newsletter</li>
      <li class="list-group-item">  <li class="list-group-item">Page d'erreur (404,300,401,403)</li>
      <li class="list-group-item">  <li class="list-group-item">Fonction Gps Google Maps</li>
      <li class="list-group-item">Diaporama pour la page d'accueil</li></ul></div>
      <div class="col-md-4">
      <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="blue-text"><i class="fa fa-pie-chart"></i>PREMIUM PACK</h5>
            <h3 class="card-title pt-2"><strong>E-Boutique</strong></h3>
            <p>idéal pour les commerçant en lignes</p>
            <a mdbBtn color="purple" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i>Demander un devis</a>
          </div>
        </div>
    </div><ul class="list-group">

          <li class="list-group-item">Site multi-page selon besoin</li>
            <li class="list-group-item">  Design sur mesure
      <li class="list-group-item">Intégration de contenu</li>
      <li class="list-group-item">Responsive design</li>
      <li class="list-group-item">SEO optimisé</li>
      <li class="list-group-item">Réseaux sociaux</li>
      <li class="list-group-item">Statistique via Google Analytics</li>
      <li class="list-group-item">Mise a jour</li>
      <li class="list-group-item">Nom de domaine</li>
      <li class="list-group-item">Adresse Email</li>
      <li class="list-group-item">Hebergement</li>
      <li class="list-group-item">Sauvegarde des données</li>
      <li class="list-group-item">Boutons de partage réseaux sociaux</li>
      <li class="list-group-item">Assistance / Maintenance / Sécurité</li>
      <li class="list-group-item">Newsletter</li>
      <li class="list-group-item">Page erreur (404,300,401,403)</li>
      <li class="list-group-item">Fonction Gps Google Maps</li>
      <li class="list-group-item">Diaporama pour la page D'accueil</li>
      <li class="list-group-item">Sitemap</li>
      <li class="list-group-item">Fiche produit avec diaporama</li>
      <li class="list-group-item">Liste des résultats dynamiques</li>
      <li class="list-group-item">Système de tri des listes</li>
      <li class="list-group-item">Panier d'achat</li>
      <li class="list-group-item">Page de paiement sécurisé</li>
      <li class="list-group-item">Compte client</li>
      <li class="list-group-item">Module de facturation</li>
      <li class="list-group-item">Suivi de commande </ul></div>
</div>
</div>
