<!-- Jumbotron -->
<div class="jumbotron p-0">

  <h4 align="center" margin-top="20px" class="card-title h4 pb-2"><strong>Projets mecacorps (annuaire du pole mecanique d'Alès développé sous synfony 3 et sqlite)</strong></h4>

  <h4 align="center" margin-top="20px" class="card-title h4 pb-2"><strong style="color:blue; height:500px"> PROJET MECACORPS (annuaire du pole mecanique d'Alès développé sous synfony 3 et sqlite)</strong></h4>
  <h6>CRUD COMPLET AVEC CATEGORIE DES ARTICLE, COMMENTAIRE CLASSES PAR USER ET CATEGORIE ET ARTICLE, BACKOFFICE OPTIMAL, GESTION DES NIVEAU DE SECURITE UTILISATEUR ADMIN OU INVITE, LE SUPERUSER A TOUT LES POUVOIR SUR LE SITE.</h6>

  <hr>
  <div class="view overlay rounded-top">
    <mdb-carousel class="carousel slide carousel-fade container" [type]="'carousel-thumbnails'" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/McHome.png" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/McAdvert.png" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/McHomeActeur.png" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../assets/backoffoice.png" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>Card title</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">Some quick example text to build on the card title and make up the bulk of the card's</p>
    <!-- Button -->
    <a href="#" class="btn purple-gradient btn-rounded mb-4">Button</a>

  </div>

</div>
<!-- Jumbotron -->
