<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h2 class="card-title h2">R-webdesign, createur d'application</h2>
  <!-- Subtitle -->
  <p class="blue-text my-4 font-weight-bold">Au service des technologies de pointes</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">Chez R-webdesign, nous mettons un point d'honneur a tenir nos délais, et a coller parfaitement au cahier des charges.
      et pour ce faire nous allions savoir faire et technologie toujours plus puissantes.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4">

  <div class="pt-2">
    <button type="button" mdbBtn color="blue" mdbWavesEffect>Demander un devis<mdb-icon icon="diamond" class="ml-1"></mdb-icon> </button>
    <button type="button" [routerLink]="[formules]" mdbBtn color="primary" outline="true" mdbWavesEffect> Voir les Formules <mdb-icon icon="download" class="ml-1"></mdb-icon></button>
  </div>

</div>

<!--parallax-->
<div class="view intro" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg); background-attachment: fixed; height: 1200px;">
    <div class="full-bg-img mask rgba-white-light">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">GRAVIR <a class="indigo-text font-bold">LES SOMMETS</a></h2>
                            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">en temps que web developpeur et graphiste</h5>
                            <a mdbBtn color="light-blue" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">portfolio</a>
                            <a mdbBtn color="indigo" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">A propos de nous</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 text-center my-5">
            <h2 class="h1 font-bold grey-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2>
            <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../assets/diamond.png"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->

              <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                  <i class="fa fa-cutlery"></i> Culinary</h5>
                <!--Title-->
                <h4 class="card-title">Cheat day inspirations</h4>
                <!--Text-->

                <mdb-card-text>
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </mdb-card-text>

                <a class="btn btn-unique waves-light" mdbWavesEffect>Button</a>

              </mdb-card-body>
              <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
          </div>

          <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../assets/003-diamond-outline.png"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->

              <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                  <i class="fa fa-cutlery"></i> Culinary</h5>
                <!--Title-->
                <h4 class="card-title">Cheat day inspirations</h4>
                <!--Text-->

                <mdb-card-text>
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </mdb-card-text>

                <a class="btn btn-unique waves-light" mdbWavesEffect>Button</a>

              </mdb-card-body>
              <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
          </div>

          <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../assets/diamond(1).png"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->

              <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                  <i class="fa fa-cutlery"></i> Culinary</h5>
                <!--Title-->
                <h4 class="card-title">Cheat day inspirations</h4>
                <!--Text-->

                <mdb-card-text>
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </mdb-card-text>

                <a class="btn btn-unique waves-light" mdbWavesEffect>Button</a>

              </mdb-card-body>
              <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
          </div>

        </div>
      </div>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<div class="view intro" style="background-image: url(../assets/Code.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
    <div class="full-bg-img mask rgba-pink-slight">
    </div>
</div>

<div class="view intro" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg); background-attachment: fixed; min-height: 700px">
    <div class="full-bg-img mask red">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h2 class="h1 display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">Soufflez nous votre idée, nous lui donneront vie</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
